.subtitulo {
    color: white;
    margin-bottom: 5%;
}

.porcentaje {
    color: white;
    margin-bottom: 5%;
}

.probabilidad-sequia {
    color: white;
    margin-bottom: 2%;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3%;
}

.labels {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.texto-diagnostico {
    border-radius: 10%;
    border-color: white;
    width: 15%;   
}

.texto-humedad {
    color: white;
    margin-left: -50px;
}

.texto-temperatura {
    color: white;
    margin-left: -115px;
}
.texto-viento {
    color: white;
    margin-left: -140px;
}
.texto-ffmc {
    color: white;
    margin-left: -100px;
}
.texto-dmc {
    color: white;
    margin-left: -25px;
}
.texto-dc {
    color: white;
    margin-left: -25px;
}

.texto-precipitaciones {
    color: white;
    margin-left: -150px;
}

.container {
    margin-left: 5%;
}

.chart-container {
    display: flex;
    direction: row;
    justify-content: center;
    justify-items: center;
}

.normal {
    color: white;
}

.humedo {
    color: white;
    margin-top: 16%;
    margin-right: -5%;
}

.seco {
    color: white;
    margin-top: 16%;
    margin-left: -5%;
}